img {
    width: 50px;
    padding: 15px;
    
}

#header {
    display: flex;
    align-items: center;
    padding: 10px;
    font-size: xx-large;
}

#order {
    display: flex;
    align-items: center;
    font-size: larger;
    text-align: left;
}